# Basics of Python

# Variables in Python

Variables are containers that store data. 
Python has no command for declaring variable
One can simply assign a value to a variable to create it
Use = to assign a value to a variable

In [3]:
Name = 'Vikram' # String Values are always enclosed within in quotes (single or double quotes)
Age = 30 # Numbers do not need any quotes

Food For Thought

What will happen when

Age = '30'

# Printing values in Python

In [5]:
print(Name)  # print command is used to print values
print(Age)
Age #  Also prints 30, however Age is a Jupyter print and print command prints the value

Vikram
30

30

# Print variables with texts

In [8]:
print(Name, 'is' , Age, 'years old')

Vikram is 30 years old

In [10]:
print('Raghu is older than', Name, 'his age is', Age+10)

Raghu is older than Vikram his age is 40

# Reassign Variable

In [11]:
my_friend_name = Name
Name

'Vikram'

# Multiple variable assignments with same value

In [12]:
Vikram_age = Anil_age = Sunil_age = 35

In [14]:
print("Vikram's age is",Vikram_age)   # When a quote is needed inside a quote use double quote
print("Anil's age is",Anil_age)      # For printing Anil's age use " 's'"
# print('Sunil's age is", Sunil_age): Will give a Syntax Error. Start with a single quote, end with single, start with double end with double!!
print("Sunil's age is", Sunil_age) # This will give a clear output

SyntaxError: invalid syntax (<ipython-input-14-a4564df9a663>, line 3)

# Multiple variables assignment with different values

In [16]:
age, expenditure, savings = 35,50000,100000
print('Age', age, 'Expenditure',expenditure,'Savings', savings)

Age 35 Expenditure 50000 Savings 100000

Food for thought : Try to print the output as Age: 35 Expenditure: 50000 Savings: 100000

In [17]:
# is used to comment a line of code. Commenting means the interpreter will ignore what ever is written after # 
# and will proceed to the next line of code

Types of comments
# This is a comment
x = y # This is an inline comment
'''
Text here    This is a comment block
'''